.sidebar
{
    flex: .25;
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid rgb(190,190,190,.1);
}
.sidebar_header{
    display: flex;
    height: 50px;
    padding: 10px;
    align-items: center;
}
.sidebar_search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #2d4671;
    color: white;
    border-radius: 5px;
    padding: 2px;
}
.sidebar_input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: white;
    flex: 1;
}
#sidebar_button{
    color: white !important;
    
}
.sidebar_threads{
overflow: scroll;
flex: 1;
}
.sidebar_threads::-webkit-scrollbar{
    display: none;
}
.sidebar_bottom{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-top: 1px solid rgba(190, 190, 190, .1);
}.sidebar_bottom_avatar{
    cursor: pointer
    ;opacity: .5;
}
.sidebar_bottom>button{
    color: white;
}
.sidebar_bottom>button:hover{
    color: rgba(2, 150, 199);
}